scraps.py
myenv
venv/
temp/
__pycache__/
.DS_Store
.git_backup/
.env
pipeline.log
inspect_all.py

# Ignore common temp file types
*.wav
*.mp4
*.pkl
*.json
video comparisons/


wav2vec2_checkpoints/
inspect_pickle.py
inspect_segments_speakers.py

