scraps.py
myenv
venv/
temp/
__pycache__/
.DS_Store
.git_backup/
.env
pipeline.log
inspect_all.py

# Ignore common temp file types
*.wav
*.mp4
*.pkl
*.json
*.rdb

video comparisons/
wav2vec2_checkpoints/
inspect_pickle.py
inspect_segments_speakers.py

# # Frontend (if i want to have all gitignores in one place)
# ## Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

# node_modules
# dist
# dist-ssr
# *.local

# ## Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?